# Database
DB_HOST=localhost
DB_PORT=3306
DB_USER=root
DB_PASSWORD=PASSWORD
DB_NAME=beer_house

# Email
MAIL_SERVER=smtp.gmail.com
MAIL_PORT=587
MAIL_USERNAME=tu_correo@gmail.com
MAIL_PASSWORD=tu_app_password
MAIL_FROM=tu_correo@gmail.com

# JWT
JWT_SECRET=tu_secreto_seguro_aqui
JWT_EXPIRATION_HOURS=24

# Variables del entorno
FLASK_DEBUG=false
FLASK_ENV=production

CORS_ORIGINS=http://localhost:5173

RUN_SCHEDULER=true